<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <strong>BrawoCMS</strong>
    </a>
    <span class="navbar-text text-white">
      Admin Panel
    </span>
  </div>
</nav>

