/* Repeater field */

.repeater-field {
  margin-bottom: 1.5rem;
  border: var(--brawo-border-width) solid var(--brawo-border);
  background-color: var(--brawo-white);
  border-radius: var(--brawo-radius-md);
}

.repeater-field-body {
  padding: 1rem;
}

.repeater-collapse-all-btn {
  flex-shrink: 0;
}

.repeater-field:last-child {
  margin-bottom: 0;
}

.repeater-row {
  position: relative;
  border: var(--brawo-border-width) solid var(--brawo-border);
  background-color: var(--brawo-white);
}

.repeater-row .card-body {
  padding: 1rem;
}

.repeater-add-btn {
  margin-top: 0.5rem;
}

.repeater-remove-btn {
  margin-top: 0.5rem;
}

.repeater-template {
  display: none !important;
}

.repeater-row.sortable-ghost {
  opacity: 0.5;
}
