class <%= class_name %> < BrawoCms::Taxonomy
  include BrawoCms::TaxonomyTypeable

  taxonomy_type :<%= file_name %>,
    label: '<%= class_name %>',
    fields: [
<%= field_definitions %>
    ]
end

